In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("train.csv")

In [3]:
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
data.CryoSleep=LabelEncoder().fit_transform(data.CryoSleep)
data.Cabin=LabelEncoder().fit_transform(data.Cabin)
data.Destination=LabelEncoder().fit_transform(data.Destination)
data.Age=LabelEncoder().fit_transform(data.Age)
data.HomePlanet=LabelEncoder().fit_transform(data.HomePlanet)
data.VIP=LabelEncoder().fit_transform(data.VIP)
data.Transported=LabelEncoder().fit_transform(data.Transported)

In [6]:
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,1,0,149,2,39,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,0,0,2184,2,24,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,1,0,1,2,58,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,1,0,1,2,33,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,0,0,2186,2,16,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1

In [7]:
test.head()

NameError: name 'test' is not defined

In [8]:
data["constant"]=pd.DataFrame(np.ones(len(data)))
data=data.drop(["PassengerId"],axis=1)
data=data.drop(["Name"],axis=1)

In [9]:
data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,constant
0,1,0,149,2,39,0,0.0,0.0,0.0,0.0,0.0,0,1.0
1,0,0,2184,2,24,0,109.0,9.0,25.0,549.0,44.0,1,1.0
2,1,0,1,2,58,1,43.0,3576.0,0.0,6715.0,49.0,0,1.0
3,1,0,1,2,33,0,0.0,1283.0,371.0,3329.0,193.0,0,1.0
4,0,0,2186,2,16,0,303.0,70.0,151.0,565.0,2.0,1,1.0

In [10]:
data.columns=[0,1,2,3,4,5,6,7,8,9,10,11,12]

In [11]:
train=data[:int(0.7*len(data))]
test=data[int(0.7*len(data)):]

In [12]:
trainx=train.drop(["Transported"],axis=1)
trainy=train["Transported"]
testx=test.drop(["Transported"],axis=1)
testy=test["Transported"]

KeyError: "['Transported'] not found in axis"

In [ ]:
data.head()

In [13]:
theta=pd.DataFrame(np.ones(13))

In [14]:
theta.head()

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0

In [ ]:
for j in range(13):
    p=0
    for i in range(len(train